
@{  
    ViewBag.Title = "MulApp";
    Layout = null;  
}  


<script language="javascript" type="text/javascript">
    window.setTimeout(function () { window.location.href = "Home/Main" }, 500);
</script> 

<h2>Loading...</h2>
