@{
    ViewBag.Title = "T";
}
     <script type="text/javascript" src="/Content/Scripts/jquery_min.js"></script>
     <script type="text/javascript" src="/Content/Scripts/easyloader.js"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery_easyui.js"></script>
    <link href="/Content/Style/css.css" rel="stylesheet"/>
    <link href="/Content/Style/metro/easyui.css" rel="stylesheet"/>
    <link href="/Content/Style/icon.css" rel="stylesheet"/>

<style type="text/css">
    .gt_1
    {
        width: 140px;
        height: 180px;
        background-color: #dddddd;
        position: relative;
    }
    
    .gt_2
    {
        width: 90%;
        height: 90%;
        margin-left: 4%;
        margin-top: 5%;
        border: #acacac solid 1px;
        background-color: #ffffff;
        position: absolute;
    }
    
    .gt_3
    {
        padding: 5%;
        width: 90%;
        color: #cecece;
        font-size: large;
        font-weight: bold;
    }
    .gt_4
    {
        padding: 5%;
        width: 90%;
        bottom: 0;
        color: #cecece;
        font-size: large;
        font-weight: bold;
        position: absolute;
    }
    
    
    .gt_5
    {
        background-color: #ffffff;
    }
    .gt_6
    {
        border: #a4cef9 solid 1px;
    }
    
    .gt_7
    {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .gt_8
    {
        padding: 5%;
        bottom: 0;
        right:0;
        position: absolute;
    }
    
    
</style>
<script type="text/javascript">
    function glf(obj, bl) {
        if (bl) {
            $(obj).addClass("gt_5");
            $(obj).children("div").addClass("gt_6");
        }
        else {
            $(obj).removeClass("gt_5");
            $(obj).children("div").removeClass("gt_6");
        }
        
    }
</script>

<div onmouseout="glf(this,false)" onmouseover="glf(this,true)" class="gt_1">
<div class="gt_2">
<div class="gt_7">
<div class="gt_3">
192.168.1.1
</div>
<div class="gt_4">
Name
</div>
<div class="gt_8">
<img src="../content/style/img/rarrow.png" alt=""/>
</div>
</div>

</div>
</div>
